section{
    background-color: rgb(183, 205, 218);
    color: blue;
        margin-left: auto;
        margin-right: 900px;
        margin-top: 20px;
        padding: 12px;
        border-radius: 10px;
}

#robo{
    display: flex;
    height: 200px;
    border-radius: 20px;
}

#divA2{
    margin-left: 250px;
    margin-right: 50px;

}

#btn{
    border-radius: 50px;
    background-color: blue;
    color: white;
}

#buttons{
   display: block;
   margin-left: 80px;
   margin-top: 65px;

}
